<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Learning Vuln</title>

        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="../css/styles.css"/>
        <link rel="stylesheet" href="../css/my-sheet.css">

        <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap"
        />

    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="home.php">Learning Vuln</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    メニュー
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="index.php">注意事項</a></li>
                        <li class="nav-item"><a class="nav-link" href="intro.php">はじめに</a></li>
                        <li class="nav-item"><a class="nav-link" href="learnmenu.php">学習パート</a></li>
                        <li class="nav-item"><a class="nav-link" href="hackpage_intro.php">攻撃パート</a></li>
                        <li class="nav-item"><a class="nav-link" href="summary.php">まとめ</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead ">
            <div class="container">
                <h1>まとめ</h1>
            </div>
        </header>
        <!-- Services-->
        <section class="page-section">
            <div class="container">
                <div class="text-center">
                    <div class="col-md-8 mx-auto">
                        <h2 class="section-heading text-bg-success mb-4">　</h2>
                    </div>
                </div>
                <div class="row text-center justify-content-center">
                    <div class="col-md-8">
                        <div class="text-center">
                            <h4>学習目的の達成度を確認</h4>
                            <p class="text-start">
                                　このコンテンツ「Learning Vuln」では、Webアプリケーションに潜む脆弱性について学習・理解することが目的でした。<br>
                                　皆さんは、このコンテンツを通じて脆弱性について学ぶことができましたか？以下の用語について、誰かに説明することはできますか？<br>
                                　・SQLインジェクション<br>
                                　・ディレクトリトラバーサル<br>
                                　少しでも脆弱性について理解していただければ幸いです。
                                <br>
                            </p>

                            <h4>学習した内容を活用する</h4>
                            <p class="text-start">
                                　「はじめに」で掲載した情報の通り、現在も脆弱性による企業への被害はあとを絶ちません。これからは直接的に情報セキュリティに関わる人間以外も、脆弱性について理解して対策の必要性を感じるべきだと考えます。<br>
                                　例えば大学が運用している「学生ポータル」もWebアプリケーションの1つです。学生ポータルには学生の個人情報が多く含まれており、万が一脆弱性が存在していた場合、学生の個人情報が流出する可能性があります。<br>
                                　もしも学生ポータルの運用に関わる人が脆弱性を知らなかったら？…私たちの学生生活にも支障が出るかもしれません。あなたが将来Webアプリケーションの開発者やプログラマーにならないとしても、ECサイトなどのWebアプリケーションを利用する機会はあるでしょう。そのとき、今回学習した内容を少し思い出して、Webアプリケーションの安全性を意識してもらえたら幸いです。<br>
                                <br>
                                　また、このコンテンツで体験していただいた攻撃手法は、まだまだ技術的に簡単なものになります。しかし簡単なもので合っても、複数が組み合わさることで重大な危険を引き起こすことがあります。<br>
                                　その点にも注意して、今後の学習や実務に活かしていただければ幸いです。<br>
                            </p>
                            <p class="text-start">
                                　最後に、情報セキュリティ分野およびペネトレーションテストについて学習する人々の間でしばしば使われる標語で締めくくります。
                            </p>
                            <h3>Try Harder!</h3>
                            <br>

                            <h2 class="section-heading text-bg-success mb-4">　</h2>
                                <h6>助言いただいた教授</h6>
                                <p class="text-center">
                                    金沢工業大学情報フロンティア学部メディア情報学科 千石靖 教授<br>
                                </p>
                                <h6>参考文献</h6>
                                <p class="text-center">
                                    徳丸浩 . 体系的に学ぶ安全なWebアプリケーションの作り方 第2版 . SBクリエイティブ株式会社 , 2018 , [667] .<br>
                                    金野千里 . 安全なウェブサイトの作り方 改訂第7版 . 独立行政法人情報処理推進機構 , 2021 , [111] .<br>
                                    佐々木真 . 「分かりそう」で「分からない」でも「分かった」気になれるIT用語辞典 . 2025 . https://wa3.i-3-i.info/index.html , (参照 2025-2-1)<br>
                                </p>

                                <h6>コンテンツ作成のための参考や素材の利用</h6>
                                <p class="text-center">
                                    Bootstrap公式サイト . 2024 . https://getbootstrap.jp/ , (参照 2025-2-1)<br>
                                    相澤祐介 . Bootstrap 5 ファーストガイド Web制作の手間を大幅に削減！ . 株式会社カットシステム , 2022 , [385] .<br>
                                    “Agency” . StartBootstrap . 2021 . https://startbootstrap.com/theme/agency , (参照 2025-2-1) .<br>
                                    かわいいフリー素材集 いらすとや . 2024 . https://www.irasutoya.com/ , (参照 2025-2-1)<br>
                                </p>
                        </div>
                    </div>
                    <div class="text-center">
                        <br>
                        <a href="home.php" class="btn btn-primary btn-xl mb-3" style="width: 300px;">ホームメニューに戻る</a>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12 text-lg-center">Copyright &copy; KakidaToranosuke</div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
